extends layout

block content
  h1 Client Manger

  - var flashClassName = flash ? flash.status : 'hidden'
  - var flashMessage = flash ? flash.message : ''

  .flash(class=flashClassName)
    p.flash__message= flashMessage
    button.flash__close &times;

  .actions
    label(for='torrent') Upload Torrent
      input(type='file' name='torrent' accept='application/x-bittorrent')
    button.actions__clients--activate(disabled) Activate Selected Clients
    button.actions__clients--deactivate(disabled) Deactivate Selected Clients
    button.actions__torrents--activate(disabled) Add Selected Torrents to Selected Clients
    button.actions__torrents--deactivate(disabled) Remove Selected Torrents from Selected Clients

  .table.table__main
    .tr
      .td.col-40
        .table.table__torrents
          .thead
            .tr
              .th.col-90 Torrents
              .th.col-10.text--center
                input(type='checkbox'
                      name='torrents')
          tbody
            each torrent in torrents
              .tr(data-torrent-active=torrent.active, data-torrent=torrent.id)
                .td.col-90= torrent.name
                .td.col-10.text--center
                  input(type='checkbox'
                        name='torrents[]'
                        value=torrent.id)
                .td.col-100= torrent.hash
                .td.col-100
                  a(href="#" data-download=torrent.name) Download
      .td.col-60
        .table.table__clients
          .thead
            .tr
              .th.col-30 Client Name
              .th.col-20 RPC Port
              .th.col-20 Trans. Port
              .th.col-20.text--center Active
              .th.col-10.text--center
                input(type='checkbox'
                      name='clients')

          tbody
            each client in clients
              .tr(data-client-active=client.active data-clients=client.id)
                .td.col-30= client.name
                .td.col-20= client.rpc_port
                .td.col-20= client.transmission_port
                .th.col-20.text--center
                  - var modifier = client.active ? 'active' : 'inactive'
                  span(class='indicator indicator--' + modifier
                      data-indicator-active=client.active)
                .td.col-10.text--center
                  input(type='checkbox'
                        name='clients[]'
                        value=client.id)
                .td.col-100
                  details(open=true).client__details
                    summary
                      strong Torrents
                    .client__torrents
                      each torrent in client.torrents
                        .client__torrent
                          = torrent.name
                          .action__torrent.actions__torrent--deactivate(data-client=client.id
                                                                        data-torrent=torrent.id) &times;

